<div class="icons">
<ul>
<li><img src="/assets/icon-1.png" width="108" height="108" alt="" /></li>
<li><img src="/assets/icon-2.png" width="108" height="108" alt="" /></li>
<li><img src="/assets/icon-3.png" width="108" height="108" alt="" /></li>
<li><img src="/assets/icon-4.png" width="108" height="108" alt="" /></li>
</ul>
</div>
<div class="content">
<h1>PLAN  DISCUSS   MANAGE   SUCCESS</h1>
<p>Nucleus is a small project management system built on Ruby on Rails, to help people 
to mange their projects in a simple and effective way. No accounts, no time tracking
just simple SCRUM based planning and divinding process and go. The project 
features high end drag and drop virtual board, discussion rooms and many more..
start from here</p>
</div>