a
	font-size: 13px

.block
	width: 300px
	padding: 10px
	background-color: #f1f1f1
	border-radius: 6px

.block
	h2
		border-bottom: 1px solid #ccc
		margin: 4px 0px 8px 0px
		padding: 2px 0px
		font-size: 24px

input[type="text"],input[type="password"], input[type="email"], textarea
	border: 1px solid #ccc
	padding: 4px
	font-size: 14px
	&:focus
		outline: none
		border: 1px solid #bbb

.devise
	form
		line-height: 20px
		div
			margin: 10px 0

.pull-right
	float: right

.pull-left
	float: left

.clear
	clear: both

.short
	width: 100px !important

.notice
	border: 1px solid #78b773
	color: green
	background: #d4f7d2
	padding: 2px 4px

a#nucleus
	text-decoration: none

.mylist
	background: #eee
	li
		border: 1x solid #ddd
		border-radius: 6px

.task-block
	width: 192px
	font-size: 90%
	float: left
	padding: 10px
	background: #F1F1F1
	border: 1px solid #CCC
	box-shadow: inset 0px 0px 2px #fff
	margin: 4px
