.button::-moz-focus-inner {
  border: 0; 
 }
.button, input[type="submit"]{
	cursor: pointer;
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
	padding: 4px 10px 5px 10px;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#333333);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		to(#333333));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1px solid #424242;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
.button:hover{
	background: #666;
}

input[type="text"],textarea{
	border: 1px solid #999;
	padding: 4px;
	width: 400px;
}

textarea{
	height: 200px
}

.field{
	margin: 10px 0
}
/* Tables */

.table-wrapper {
	background: #E0E0E0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E9E9E9', endColorstr='#D7D7D7');
	background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#D7D7D7)); 
	background: -moz-linear-gradient(top,  #E9E9E9,  #D7D7D7); 
	padding: 8px;
	-webkit-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-moz-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-o-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-khtml-box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	box-shadow: inset 0px 2px 2px #B2B3B5, 0px 1px 0 #fff;
	-webkit-border-radius: 10px; 
	/*-moz-border-radius: 10px; firefox doesn't allow rounding of tables yet*/
	-o-border-radius: 10px; 
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.table-wrapper table {
	width: 100%;
}
.table-wrapper table th {
	height: 35px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	font-weight: bold;
	background: #4AD4EE;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4AD4EE', endColorstr='#278FAC');
	background: -webkit-gradient(linear, left top, left bottom, from(#4AD4EE), to(#278FAC)); 
	background: -moz-linear-gradient(top,  #4AD4EE,  #278FAC); 
	color: #125267;
	text-shadow: 0px 1px 0px #abcdef;
	-webkit-box-shadow: inset 0px 1px 0 #197A9D;
	-moz-box-shadow: inset 0px 1px 0 #197A9D;
	-o-box-shadow: inset 0px 1px 0 #197A9D;
	-khtml-box-shadow: inset 0px 1px 0 #197A9D;
	box-shadow: inset 0px 1px 0 #197A9D;
	
}

.table-wrapper table td {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	text-decoration: none;
	font-weight: normal;
	color: #858585;
	padding: 10px;
	border-left: 1px solid #ccc;
	-khtml-box-shadow: 0px 1px 0px #B2B3B5;
	-webkit-box-shadow: 0px 1px 0px #B2B3B5;
	-moz-box-shadow: 0px 1px 0px #ddd;
	-o-box-shadow: 0px 1px 0px #B2B3B5;
	box-shadow: 0px 1px 0px #B2B3B5;
}

tr th {
	border-left: 1px solid #ccc;
}

tr th:first-child {
	-khtml-border-top-left-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-o-border-top-left-radius: 8px;
	/*-moz-border-radius-topleft: 8px; firefox doesn't allow rounding of tables yet*/
	border-top-left-radius: 8px;
	border: none;
}

tr td:first-child {
	border: none;
}

tr th:last-child {
	-khtml-border-top-right-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-o-border-top-right-radius: 8px;
	/*-moz-border-radius-topright: 8px; firefox doesn't allow rounding of tables yet*/
	border-top-right-radius: 8px;
}

tr {
	background: #fff;
}

tr:nth-child(odd) {
	background: #F3F3F3;
}

tr:nth-child(even) {
	background: #fff;
}

tr:last-child td:first-child {
	-khtml-border-bottom-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-o-border-bottom-left-radius: 8px;
	/*-moz-border-radius-bottomleft: 8px; firefox doesn't allow rounding of tables yet*/
	border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
	-khtml-border-bottom-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-o-border-bottom-right-radius: 8px;
	/*-moz-border-radius-bottomright: 8px; firefox doesn't allow rounding of tables yet*/
	border-bottom-right-radius: 8px;
}
