.button::-moz-focus-inner {
  border: 0; 
 }
.button{
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
	padding: 4px 10px 5px 10px;
	background: -moz-linear-gradient(
		top,
		#a3a3a3 0%,
		#333333);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#a3a3a3),
		to(#333333));
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border: 1px solid #424242;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}
.button:hover{
	background: #666;
}

input[type="text"],textarea{
	border: 1px solid #999;
	padding: 4px;
	width: 400px;
}

textarea{
	height: 200px
}

.field{
	margin: 10px 0
}
input[type="submit"]{
	padding: 4px 10px;
	line-height: 23px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-shadow: -1px -1px 0 #333;
	border-radius: 3px;
	background: #909090;
	background: -moz-linear-gradient(#909090,#3F3F3F);
	background: -webkit-linear-gradient(#909090,#3F3F3F);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090',endColorstr='#3f3f3f')";
}
