/* Additional Style CSS Document ================================================================================ */
.wrapper {

}

.page { }

/* Header Layout ================================================================================ */
.header-container {

}

.header {
  width: 959px;
  margin: 0 auto;
  padding: 14px 38px 0;
  overflow: hidden;
  text-align: left;
  background: #0099ff url(header-bg.gif) no-repeat top center;
}

.logo {
  float: left;
  width: 404px;
  height: 86px;
  padding-top: 20px;
}

.login-section {
  float: right;
  width: 220px;
}

.login-section ul {
  margin: 0;
  list-style: none;
}

.login-section ul li {
  float: left;
  width: auto;
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
}

.login-section ul li:first-child {
  margin-left: 0;
}

.login-section ul li a {
  display: block;
  width: 64px;
  line-height: 27px;
  text-decoration: none;
  text-indent: -9999px;
  background: transparent url(logout-btn.png) no-repeat 0 0;
}


/* Main Container Layout ================================================================================ */
.main-container {

}

.main {
  width: 1035px;
  margin: 0 auto;
  text-align: left;
}

.col-main {
  float: none;
  width: auto;
}

.content-mid {
  padding: 0 120px 0 128px;
  background: transparent url(diary-mid.png) repeat-y center;
}

.content-top {
  padding-top: 85px;
  background: transparent url(diary-top.png) no-repeat top;
}

.content-bottom {
  margin-bottom: 40px;
  padding-bottom: 85px;
  background: transparent url(diary-bottom.png) no-repeat bottom;
}

.icons {
  width: 600px;
  margin: 0 auto 66px;
  padding-top: 4px;
  overflow: hidden;
}

.icons ul {
  margin: 0;
  list-style: none;
}

.icons ul li {
  float: left;
  width: 108px;
  margin-left: 40px;
}

.icons ul li:first-child {
  margin-left: 0;
}

.content {
  overflow: hidden;
  padding-bottom: 68px;
}

.content h1 {
  width: 714px;
  margin: 0 auto 60px;
  padding: 4px 0 6px;
  font-size: 40px;
  text-align: center;
  border-top: 3px solid #0099cc;
  border-bottom: 3px solid #0099cc;
}


/* Footer Layout ================================================================================ */
.footer-container {
  padding-bottom: 60px;
}

.footer {
  width: 1002px;
  height: 79px;
  margin: 0 auto;
  line-height: 71px;
  overflow: hidden;
  background: transparent url(footer-bg.png) no-repeat center;
}


.footer-list {
  float: left;
  width: 728px;
  margin: 0 8px;
}


.footer-list ul {
  margin: 0;
  overflow: hidden;
  list-style: none;
}

.footer-list ul li {
  float: left;
  width: auto;
  margin-left: 16px;
}

.footer-list ul li a {
  font-size: 19px;
  text-decoration: none;
  line-height: 79px;
  color: #0099ff;
}

.social-icons {
  float: right;
  width: 258px;
}

.share {
  float: left;
}

.social-icons ul {
  margin: 0;
  list-style: none;
  float: right;
  width: 202px;
}

.social-icons ul li {
  float: left;
  width: 57px;
  margin-right: 10px;
}

.social-icons ul li a {
  display: block;
  padding-top: 12px;
}
